<h1>Tasks#index</h1>


<%# <div>
<% @tasks.each do |task| %>

<%# <a> <%= task.task %> </a>


<%# <tbody> %>
<%# <% @tasks.each do|task|%>
<%# <tr> %>
<%# <td><%=task.task%></td>
<%# </tr><%end%> 
<%# </tbody> %>

